{% load static %}
{% load agency_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="{% static 'ecn/css/styles.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'ecn/css/swiper-bundle.min.css' %}"/>
    
 </head>
 <body>
{% show_header user %}
<div class="help-div"></div>
<div class="all_content_wrapper">
{% block content %}

{% endblock content %}
</div>



<script type="text/javascript" src='{% static  "ecn/js/swiper-bundle.min.js" %}'></script>
<script type="text/javascript" src='{% static  "ecn/js/main.js" %}'></script>
<script type="text/javascript" src='{% static  "ecn/js/htmx.js" %}'></script>
<script> document.body.addEventListener('htmx:configRequest', function(event) {
    event.detail.headers['{X-CSRFToken}'] = '{{ csrf_token }}';
    event.detail.parameters['{X-CSRFToken}'] = '{{ csrf_token }}'}); </script>
</body>
</html>