{% extends 'ecn/base.html' %}
{% load agency_tags %}

{% block content %}

<div class="all-searched-wrapper">
 <div class="forms-wrapper"> 
<form action=" "class="search-form" method="POST" name="searched" >
    {% csrf_token %}
    <h2>Поиск объекта в городе</h2>
    <div class="form-fields-wrapper">
    {% for f in form  %}
    <ul >
        <li> <label for = "{{ f.id_for_label }}">{{ f.label }}</label>{{ f }} </li>
        <li class="form-error">{{ f.errors }}</li>
    </ul>
    {% endfor %}
    </div> 
    <button class="submit" type="submit">Найти</button>
</form>

</div> 


 <div class="searched-wrapper">
{% for obj in selected_items %}
{% include 'ecn/inclusion/object_card.html' %}
{% empty %}
<div class="non-searched"><h2>Нет объектов</h2></div>
{% endfor%}
</div> 

</div>
{% endblock content %}