{% extends 'ecn/base.html' %}
{% load agency_tags %}

{% block content %}
<h2 class="list-main-title">Аренда <span>{{rent_obj_type.title}}</span> </h2>

<div class="apartments-links-wrapper">
    <div class="logo-and-title" >
        <img src="{{rent_obj_type.icon.url}}" alt="{{rent_obj_type.title}}">
        <span class="apartment-logo-title"><h2>{{rent_obj_type.title}}</h2></span>
    </div>
{% for unsel in unselected_links %}
{% if unsel.title != 'Новостройки' and unsel.title != 'Дома' %}
<a href="{{unsel.get_rent_url}}"><div class="logo-and-title unselected" >
    <img src="{{unsel.icon.url}}" alt="{{unsel.title}}">
    <span class="apartment-logo-title"><h2>{{unsel.title}}</h2></span>

</div></a>
{% endif %}
{% endfor%}


</div>
<div  class="apartments-container">  
    {% show_apa obj_type=rent_obj_type.slug s_or_r='r' %}
</div>
{% endblock content %}