{% extends 'ecn/base.html' %}



{% block content %}
 <h1 class="reg-title">Добавить фотографии объекта ->> {{ obj.title }} ->> {{ obj.get_sale_or_rent_display }} </h1>
<form method='post' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-errors">{{ forms.non_fields_errors }}</div>
    {{ form.as_p }}
 <button type="submit" >Добавить объект</button>
    </form>
 <h1 class="reg-title">Загруженные фото </h1>
{% for obj in photo_list %}
  <div class="img-container">
                <img src="{{obj.gallery_image.url}}" alt="{{obj.title}}">
      <p>{{obj.note}}</p>
  </div>

{% endfor  %}


{% endblock content %}