{% extends 'ecn/base.html' %}


{% block content %}
<div class="all-profile-wrapper">
<h1 class="reg-title" >Велкам на Вашу страницу , {{ user }} !</h1>
    <div class="profile-wrapper ">
        <p class="user-info">Ваше аккаунт: {{ user_nick }} </p>
        <p class="user-info">Зарегистрирован: {{ date_joined }}</p>
        <p class="user-info">Телефон для связи: {{ user_phone }}</p>
        <p class="user-info">Электронная почта: {{ user_email }}</p>
            <hr>
        <div class="profile-links-wrapper">
            <a class="update-profile-link" href="{% url 'update_user_info' %}">РЕДАКТИРОВАТЬ ДАННЫЕ  </a>
            <a class="logout-link" href="{% url 'logout' %}">ВЫЙТИ  </a>
        </div>
    </div>

    <a class="add-object-link" href="{% url 'add_object' %}">ДОБАВИТЬ ОБЪЕКТ</a>
</div>

{% for u in user_city_objects %}
    <a href="{{u.get_absolute_url}}"> {{ u.title }} </a>
{% endfor %}

{% for u in user_out_city_objects %}
    <a href="{{u.get_absolute_url}}"> {{ u.title }} </a>
{% endfor %}

{% endblock content %}