{% extends 'ecn/base.html' %}


{% block content %}
<h1 class="display-1">регистрация</h1>
<hr>
{% if form.errors %}
 <p>{{ form.errors.error }}</p>
{% endif  %}
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <div class="form-wrapper">
    {% for f in form %}
       <div class="mb-3"><label class="form-label" for="{{f.id_for_label}}">{{f.label}}</label> : {{ f }}</div>
    {% endfor %}
     </div>


    <button type="submit" class="btn btn-success">Зарегистрироваться</button>

</form>
{% endblock content %}
